*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* background-color: #24252A; */

}
body{
    /* -webkit-background-size:cover; */

    height:100vh;
    font-family:sans-serif;
    font-weight:200;
    font-size:16px;

}

a{
    text-decoration: none;
}
header{
    /* display:-webkit-flex;
    display: -moz-flex;
    display:-ms-flex;
    display: -o-flex; */
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}


.nav-area {
  list-style: none;
}
.nav-area li{
  display:inline-block;
  padding: 0px 15px;

}

.nav-area li a{
    transition: all 0.3s ease 0s;

}

.nav-area li a:hover {
  color:aliceblue;
}


.nav-area-1{
    list-style: none;
  }
  .nav-area-1 li{
    display:inline-block;
    padding: 0px 10px;
  
  }
  
  .nav-area-1 li a{
      transition: all 0.3s ease 0s;
  
  }
  
  .nav-area-1 li a:hover {
    color:aliceblue;
  }

